/* ==========================================================================
People
========================================================================== */
html,
body {
  font: 11px/1.2 "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #2b2b2b;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.c-more,
.html-content a {
  color: #2758db;
}
.html-content {
  font-size: 13px;
  line-height: 1.6;
  width: 100%;
}
body,
p,
small,
address,
h1,
h2,
h3,
h4,
h5,
h6,
#header .header-title {
  font: normal 12px/1.5 "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
p {
  font-size: 1.05em;
  line-height: 1.6;
}
p.intro,
.intro p {
  font: 1.3em Georgia, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
small,
address {
  font-size: 0.95em;
  line-height: 1.2;
}
b,
strong {
  font-weight: bold;
}
em,
i,
address {
  font-style: italic;
}
u {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
h1 {
  font-size: 2.8em;
}
.content > h1,
.col-main > h1 {
  margin: 0px 0;
}
h2 {
  font-size: 2em;
  margin: 18px 12px;
}
h3 {
  font-size: 1.4em;
  margin: 15px 0 10px;
}
h4 {
  font-size: 1.1em;
  margin: 12px 0 8px;
}
h5 {
  font-size: 1em;
  margin: 9px 0 6px;
}
h6 {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 6px 0 4px;
}
.article p {

}
.title-p {
  padding-left: 150px;
}
@media only screen and (min-width: 700px) {
  .article {
	margin-left: -100px;
    padding: 50px; /* picture padding */
  }
}
.article-title {
  padding-left: 100px;
  font-size: 1.1em;
  line-height: 1.2;
}
.article-img {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 50px; /* image left margin */
  padding-left: 50px;
  margin-right: 50px;
}
.article-img img {
  width: 100%;
  display: block;
}
  .article-img {
  
    width: 20%; /* Image size*/
    margin-bottom: 0;
    float: left;
  }
  
  .article-img-ras {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 50px; /* image left margin */
  padding-left: 50px;
  margin-right: 50px;
  }
  .article-has-img {
    margin-left: 100px; /* text box left align */
  }
.article-title {
  font-size: 1.7em;
}
.cf,
.html-content {
  zoom: 1;
}
.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
} 
